---
layout: base
tags: nav
navtitle: Home
navorder: 1
permalink: index.html
---

<div class="hero fade-in">
    <div class="hero__inner">
        <h1 class="hero__title">And I'm a Product Designer.</h1>
        <p class="hero__pretitle"><a href="/about/">Hello, I am Lizzie</a></p>

        <div class="hero__content">
            <p>I work at <a href="https://bitly.com" class="hero__link hero__link--simpleloop">Bitly</a>, a link shortening and data analytics platform. <br class="hero__br" />
           
        </div>
    </div>
</div>
